.footer{
    width: 100%;
    height: 400px;
    margin-top: 5rem;
}

.wrapper{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.col > h2{
    margin-bottom: 15px;
    justify-self: flex-start;
    margin-left: -5px;
}

.col > p{
    max-width: 425px;
    color: #555;
    font-size: 15px;
}